body{
    font-family: 'Poppins', sans-serif;
}
.vivid-color{
    color: orangered;
}
h1{
    font-size: 50px;
    margin-left: 70px;
}
p{
    margin-left: 70px;
    font-style: italic;
}
.width-adjust{
    width: 50%;
}
.width-adjust img{
    width: 50%;
}
.flexible-container{
    display: flex;
    padding: 40px 20px;
    margin-bottom: 150px;
    background-color: rgb(137, 209, 235);
}
.live-button{
    background-image: linear-gradient(tomato,Orange);
    text-decoration: none;
    font-size: 35px;
    border-radius: 30%;
    margin: 75px;
    padding: 5px 15px;
}

/*top players style */
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap:30px;
}
.player img{
    widows: 315px;
    height:287px;
}

.statusBar {
    /* border: 2px solid; */
    margin: 4% 2%;
    padding: 3%;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
  }
  
  .statusMain {
    display: flex;
    justify-content: space-between;
  }
  section.footer {
    background-color: #111;
    margin-top: 5%;
  }
  .footer h1 span {
    color: rgb(255, 0, 200);
  }
  .footer h1 {
    color: gray;
    padding-top: 3%;
  }
  
  .footer h3 {
    color: #fff;
    padding: 2% 0;
  }
  .text-center {
    text-align: center;
  }
  /* footer end */
  